@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .aspect-16\/9 {
        aspect-ratio: 16/9;
    }
    .aspect-4\/3 {
        aspect-ratio: 4/3;
    }
    .aspect-9\/16 {
        aspect-ratio: 9/16;
    }
}