@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --plyr-color-main: #f40f3a;
}

::selection {
  background: var(--plyr-color-main);
  color: #fff;
}

.input {
  @apply bg-clean-dark-700 p-2 text-center m-2 rounded-md px-4 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent;
}