@import "tailwindcss";
@config "../tailwind.config.js";

:root {
  --plyr-color-main: #f40f3a;
}

::selection {
  background: var(--plyr-color-main);
  color: #fff;
}

.input {
  @apply bg-clean-dark-700 p-2 text-center m-2 rounded-md px-4 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:border-transparent inline-flex items-center;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #111111;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-delorean-800 rounded-md;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--plyr-color-main);
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.fastfade-enter-active,
.fastfade-leave-active {
  transition: opacity 0.3s ease;
}

.fastfade-enter-from,
.fastfade-leave-to {
  opacity: 0;
}

.partymode > * {
  animation: rainbow .5s linear infinite;
}

@keyframes rainbow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}